#pages
  .row
    - if can? :manage, User
      .small-12.large-6.columns
        .well
          %h2.title Benutzer
          %p Benutzer anlegen, ändern und löschen
          %p
            = link_to t('links.index'), :admin_users, class: "button"
            = link_to t('links.create'), :new_admin_user, class: "button secondary"
    - if can? :manage, Category
      .small-12.large-6.columns
        .well
          %h2.title Kategorien
          %p Kategorien erstellen, editieren und löschen
          %p
            = link_to t('links.index'), :admin_categories, class: "button"
            = link_to t('links.create'), :new_admin_category, class: "button secondary"

    - if can? :manage, News
      .small-12.large-6.columns
        .well
          %h2.title Nachrichten
          %p Nachrichten erstellen, editieren und löschen
          %p
            = link_to t('links.index'), :admin_news_index, class: "button"
            = link_to t('links.create'), :new_admin_news, class: "button secondary"

    - if can? :manage, Gallery
      .small-12.large-6.columns
        .well
          %h2.title Galerien
          %p Galerien erstellen und Bilder hochladen
          %p
            = link_to t('links.index'), :admin_galleries, class: "button"
            = link_to t('links.create'), :new_admin_gallery, class: "button secondary"

    - if can? :manage, Event
      .small-12.large-6.columns
        .well
          %h2.title= Event.model_name.human count: 2
          %p= "#{Event.model_name.human count: 2} verwalten"
          %p
            = link_to t('links.index'), :admin_events, class: "button"
            = link_to t('links.create'), :new_admin_event, class: "button secondary"

    - if can? :manage, Comment
      .small-12.large-6.columns
        .well
          %h2.title= Comment.model_name.human count: 2
          %p= "#{Comment.model_name.human count: 2} verwalten"
          %p
            = link_to t('links.index'), :admin_comments, class: "button"
