= form_for [:admin, @gallery], html: { class: "form-horizontal" } do |f|
  - if @gallery.errors.any?
    .callout.alert.small{ 'data-abide-error' => true }
      %h4.title
        %span.is-invalid-label
          = icon 'exclamation-triangle'
        Folgende Felder müssen korrigiert werden:
      %ul
        - @gallery.errors.full_messages.each do |msg|
          %li
            %small= msg


  .row
    .large-2.show-for-large.columns= f.label :title
    .columns
      = f.text_field :title, placeholder: Gallery.human_attribute_name(:title)

  .row
    .large-2.show-for-large &nbsp;
    .large-10.columns.show-for-large
      = f.submit t(@gallery.new_record? ? 'create' : 'update', scope: 'links'), class: 'button'
      = link_to t('links.cancel'), [:admin, :galleries], class: 'button warning'
    .small-12.columns.hide-for-large
      = f.submit t(@gallery.new_record? ? 'create' : 'update', scope: 'links'), class: 'button expanded'
    .small-12.columns.hide-for-large
      = link_to t('links.cancel'), [:admin, :galleries], class: 'button warning expanded'
