#galleries.well
  %h1 Galerieverwaltung
  %table.table.table-bordered.table-bordered
    %thead
      %tr
        %th= Gallery.human_attribute_name(:title)
        %th Bilder
        %th Öffentliche Bilder
        %th Optionen
    %tbody
      - @galleries.each do |gallery|
      - row_class = ''
        - row_class = 'success' if gallery.public_pictures.count > 0
        %tr{class: row_class}
          %td= gallery.title
          %td= gallery.pictures.count
          %td= gallery.public_pictures.count
          %td.centered
            = link_to content_tag(:i, "", class: "glyphicon glyphicon-pencil"), [:edit, :admin, gallery], class: "btn btn-primary btn-xs", title: "#{t('links.gallery.edit')}"
            = link_to content_tag(:i, "", class: "glyphicon glyphicon-trash"), [:admin, gallery], method: :delete, confirm: t('confirms.delete', name: gallery.title), class: "btn btn-danger btn-xs", title: "#{t('links.gallery.delete')}"
            = link_to content_tag(:i, "", class: "glyphicon glyphicon-eye-open"), [:admin, gallery, :pictures], class: "btn btn-info btn-xs", title: "#{t('links.gallery.pictures')}"
            = link_to content_tag(:i, "", class: "glyphicon glyphicon-plus"), [:new, :admin, gallery, :picture], class: "btn btn-success btn-xs", title: "#{t('links.picture.new')}"

  .labels.pull-right
    %span.label.label-info Legende
    %span.label.label-success Öffentliche Galerie

  .btns= link_to t('links.gallery.new'), :new_admin_gallery, class: "btn btn-success"
