#galleries
  .well.small
    %h2.title Galerieverwaltung

  .well.small
    %table
      %thead
        %tr
          %th= Gallery.human_attribute_name(:title)
          %th Bilder
          %th Öffentliche Bilder
          %th
      %tbody.sortable{data: {'update-url' => sort_admin_galleries_url}}
        - @galleries.each do |gallery|
        - row_class = ''
          - row_class = 'success' if gallery.public_pictures.count > 0
          %tr{class: row_class, data: {item_id: gallery.id}}
            %td= gallery.title
            %td= gallery.pictures.count
            %td= gallery.public_pictures.count
            %td.text-right
              = link_to icon(:eye), [:admin, gallery, :pictures], class: "button small secondary", title: "#{t('links.show')}"
              = link_to icon(:pencil), [:edit, :admin, gallery], class: "button small", title: "#{t('links.update')}"
              = link_to icon(:trash), [:admin, gallery], method: :delete, data: { confirm: t('confirmations.named.delete', name: gallery.title) }, class: "button warning small", title: "#{t('links.delete')}"
              = link_to icon(:plus), [:new, :admin, gallery, :picture], class: "button small success", title: "#{t('links.create')}"
  .row
    .large-12.columns.show-for-large
      = link_to [:new, :admin, :gallery], class: "button" do
        = icon :plus
        = t('links.create')
    .small-12.columns.hide-for-large
      = link_to [:new, :admin, :gallery], class: "button expanded" do
        = icon :plus
        = t('links.create')
