#comments
  %h1 Kommentarübersicht
  - if @comments.each.any?
    - @comments.each do |comment|
      .well.comment{class: "#{"inactive" unless comment.active?} comment-#{comment.id}"}
        = render 'comments/comment', comment: comment
        %p
          Der Kommentar wurde verfasst für:
          %strong= "#{comment.commentable.model_name.human}: #{comment.commentable.title}"
  - else
    .well Keine unveröffentlichten Kommentare

  .pageination
    = will_paginate @comments, previous_label: "Zurück", next_label: "Weiter"
