#confirmation
  .well
    %h2.title E-Mail-Adresse bestätigen
    = form_for resource, as: resource_name, url: confirmation_path(resource_name), method: :post, html: {class: "form-horizontal"} do |f|
      .row
        .columns= f.email_field :email, autofocus: true, placeholder: "E-Mail Adresse"

      .row
        .large-10.columns.show-for-large
          = f.submit t('links.confirm'), class: "button"
          = link_to t('links.cancel'), :root, class: "button warning"
        .small-12.columns.hide-for-large
          = f.submit t('links.confirm'), class: "button expanded"
        .small-12.columns.hide-for-large
          = link_to t('links.cancel'), :root, class: "button warning expanded"
