= form_for [:admin, @event], html: { class: "form-horizontal" } do |f|
  - if @event.errors.any?
    .callout.alert.small{ 'data-abide-error' => true }
      %h4.title
        %span.is-invalid-label
          = icon 'exclamation-triangle'
        Folgende Felder müssen korrigiert werden:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li
            %small= msg

  .row
    .large-2.show-for-large.columns= f.label :title
    .columns
      = f.text_field :title, placeholder: Event.human_attribute_name(:title)

  .row
    .large-2.show-for-large.columns= f.label :description
    .columns
      = f.text_area :description, placeholder: Event.human_attribute_name(:description), rows: 5

  .row
    .large-2.show-for-large.columns= f.label :location
    .columns
      = f.text_field :location, placeholder: Event.human_attribute_name(:location)

  .row
    .large-2.show-for-large.columns= f.label :starts_at
    .columns
      = f.text_field :starts_at, placeholder: Event.human_attribute_name(:starts_at), data: { behavior: 'datetimepicker' }
  .row
    .large-2.show-for-large.columns= f.label :ends_at
    .columns
      = f.text_field :ends_at, placeholder: Event.human_attribute_name(:ends_at), data: { behavior: 'datetimepicker' }

  .row
    .large-2.show-for-large.columns= f.label :internal
    .large-2.columns.text-align-right
      .switch.small
        = f.check_box :internal, class: 'switch-input'
        %label.switch-paddle{ for: :event_internal }
    .columns
      %label{ for: :event_internal }

  .row
    .large-2.show-for-large &nbsp;
    .large-10.columns.show-for-large
      = f.submit t(@event.new_record? ? 'create' : 'update', scope: 'links'), class: 'button'
      = link_to t('links.cancel'), [:admin, :events], class: 'button warning'
    .small-12.columns.hide-for-large
      = f.submit t(@event.new_record? ? 'create' : 'update', scope: 'links'), class: 'button expanded'
    .small-12.columns.hide-for-large
      = link_to t('links.cancel'), [:admin, :events], class: 'button warning expanded'
