= render 'event', event: @event, buttongroup: false

.expanded.button-group
  = link_to :admin_events, class: 'button secondary' do
    = icon 'arrow-left'
    = t('links.back')

  = link_to [:edit, :admin, @event], class: 'button' do
    = icon :pencil
    = t('links.update')
