.well
  = form_for [:admin, @news] do |f|
    - if @news.errors.any?
      #error_explanation
        %h2= "#{pluralize(@news.errors.count, "error")} prohibited this news from being saved:"
        %ul
          - @news.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      .control-label= f.label :title
      .controls
        = f.text_field :title
    .form-group
      .control-label= f.label :body
      .controls
        = f.text_area :body, :class => :ckeditor
    .form-group
      .control-label= f.label :internal
      .controls
        = f.check_box :internal

    .form-group
      .controls
        - if @news.new_record?
          = f.submit t('links.create'), class: 'btn btn-success'
        - else
          = f.submit t('links.update'), class: 'btn btn-info'
        = link_to t('links.cancel'), :admin_news_index, class: 'btn btn-warning'
