#news
  %h1 Beitragsverwaltung

  - @news.each do |news|
    .jumbotron
      .pull-left
        %h2= news.title
        %h5= "URL: #{link_to news_url(news), news}".html_safe
        - if news.category.nil?
          %h5 Kategorie: Keine Kategorie
        - else
          %h5= "Kategorie: #{link_to news.category.title, admin_categorized_news_path(category: news.category.to_param)}".html_safe
      .pull-right
        - if not news.published?
          %span.label.label-info Unveröffentlicht
        - if news.internal?
          %span.label.label-danger Interner Beitrag
      %p.clearfix

      - if news.teaser != news.body
        .panel.panel-default
          .panel-heading Vorschau
          .panel-body= news.teaser.html_safe

      .panel.panel-default
        .panel-heading Vollansicht
        .panel-body= news.body.html_safe

      %p.pull-left
        = link_to t('links.show'), news, class: "btn btn-info btn-sm"
        = link_to t('links.update'), [:edit, :admin, news], class: "btn btn-primary btn-sm"
      %p.pull-right
        - if news.published?
          = link_to t('links.unpublish'), [:unpublish, :admin, news], method: :put, class: "btn btn-warning btn-sm"
        - else
          = link_to t('links.publish'), [:publish, :admin, news], method: :put, class: "btn btn-success btn-sm"
        = link_to t('links.delete'), [:admin, news], method: :delete, class: "btn btn-danger btn-sm", data: { confirm: t('confirmations.named.delete', name: news.title) }
      %br.clear

  .pageination
    = will_paginate @news, renderer: FoundationPagination::Rails, previous_label: "Zurück", next_label: "Weiter"

= link_to t('links.create'), :new_admin_news, class: 'btn btn-success btn-lg'
