= form_for [:admin, @gallery, @picture], html: { class: "form-horizontal" } do |f|
  - if @picture.errors.any?
    .callout.alert.small{ 'data-abide-error' => true }
      %h4.title
        %span.is-invalid-label
          = icon 'exclamation-triangle'
        Folgende Felder müssen korrigiert werden:
      %ul
        - @picture.errors.full_messages.each do |msg|
          %li
            %small= msg

  .row
    .large-2.show-for-large.columns= f.label :picture
    .columns
      = f.file_field :picture

  .row
    .large-2.column= f.label :internal
    .columns
      .switch.small
        = f.check_box :internal, class: 'switch-input'
        %label.switch-paddle{ for: :picture_internal }

  .row
    .large-2.show-for-large &nbsp;
    .large-10.columns.show-for-large
      = f.submit t(@picture.new_record? ? 'create' : 'update', scope: 'links'), class: 'button'
      = link_to t('links.cancel'), [:admin, @gallery, :pictures], class: 'button warning'
    .small-12.columns.hide-for-large
      = f.submit t(@picture.new_record? ? 'create' : 'update', scope: 'links'), class: 'button expanded'
    .small-12.columns.hide-for-large
      = link_to t('links.cancel'), [:admin, @gallery, :pictures], class: 'button warning expanded'
