%div{ 'data-sticky-container' => true }
  .top-bar{ 'data-sticky' => true, 'data-sticky-on' => 'small' }
    .hide-for-large.columns
      .top-bar-logo
        = image_tag "logo.png"
      .top-bar-title.row
        .small-5.columns
          %button.menu-icon.dark{ 'data-toggle' => 'offCanvasLeft' }
        .columns.text-right
          - if user_signed_in?
            = link_to '#' do
              = fa_icon 'user'
              = current_user.first_name
          - else
            = link_to :new_user_session do
              = fa_icon 'user'
    .show-for-large
      .top-bar-logo
        = image_tag "logo.png"
      .top-bar-title
        %strong Wahner Kölschbusters
      .top-bar-left
        %ul.menu.dropdown{ 'data-dropdown-menu' => true }
          %li= link_to "Startseite", :root, class: :brand
          %li= link_to t('links.users'), :admin_users
          %li= link_to t('links.categories'), :admin_categories
          %li= link_to t('links.news'), :admin_news_index
          %li= link_to t('links.galleries'), :admin_galleries
          %li= link_to t('links.events'), :admin_events
      .top-bar-right
        %ul.menu.dropdown{ 'data-dropdown-menu' => true }
          - if user_signed_in?
            %li
              = link_to '#' do
                = current_user.name
                = fa_icon "user"
                %li= link_to t('links.profile'), :user
                %li= link_to t('links.logout'), :destroy_user_session, method: :delete
          - else
            %li
              = link_to :new_user_session do
                = fa_icon 'user'
