#profile
  .well
    %h2.title Profil bearbeiten
    = form_for @user, html: {class: "form-horizontal"} do |f|
      - if @user.errors.any?
        .callout.alert.small{ 'data-abide-error' => true }
          %h5
            %span.is-invalid-label
              = icon 'exclamation-triangle'
            Bitte korrigieren Sie folgende Felder:
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      %p
        .row
          .small-6.columns
            = f.text_field :first_name, placeholder: "Vorname"
          .small-6.columns
            = f.text_field :last_name, placeholder: "Nachname"
        .row
          .small-9.columns
            = f.text_field :street, placeholder: "Straße"
          .small-3.columns
            = f.text_field :houseno, placeholder: "Hausnummer"
        .row
          .small-4.columns
            = f.text_field :zipcode, placeholder: "PLZ", maxlength: 5
          .small-8.columns
            = f.text_field :city, placeholder: "Ort"
        .row
          .small-6.columns
            = f.text_field :phone, placeholder: "Telefonnummer"
          .small-6.columns
            = f.text_field :mobile, placeholder: "Handynummer"

      .row
        .large-2.show-for-large &nbsp;
    .large-10.columns.show-for-large
          = f.submit t('links.save'), class: 'button'
          = link_to t('links.cancel'), current_user, class: 'button warning'
        .small-12.columns.hide-for-large
          = f.submit t('links.save'), class: 'button expanded'
        .small-12.columns.hide-for-large
          = link_to t('links.cancel'), current_user, class: 'button warning expanded'
