#profile
  = form_for @user, :url => :update_login do |f|
    .label= f.label :current_password
    .field= f.password_field :current_password

    .label= f.label :email
    .field= f.text_field :email

    .label= f.label :email_confirmation
    .field= f.text_field :email_confirmation

    .label= f.label :password
    .field= f.password_field :password

    .label= f.label :password_confirmation
    .field= f.password_field :password_confirmation

    .button= f.submit