#profile
  .well
    %h2.title Dein Profil

    %table.table.table-responsive
      %tbody
        %tr
          %th Email
          %td= current_user.email
        %tr
          %th Name
          %td= current_user.name
        %tr
          %th{rowspan: 2} Adresse
          %td= "#{current_user.street} #{current_user.houseno}"
        %tr
          %td= "#{current_user.zipcode} #{current_user.city}"
        - if current_user.phone?
          %tr
            %th Telefonnummer
            %td= current_user.phone
        - if current_user.mobile?
          %tr
            %th Handynummer
            %td= current_user.mobile

        %tr
          %th Rolle
          %td= current_user.role.capitalize

    .options
      = link_to "Profil ändern", :edit_user, class: "btn btn-danger"
      = link_to "Login ändern",  :edit_login, class: "btn btn-danger"

  .well
    %h2.title Alternative Loginmethoden verwalten
    %p
      Wenn dein Konto auf der KölschBusters-Webseite mit einer der unten genannten Seiten verknüpfst, kannst du dich in
      Zukunft ohne Passwort einloggen. Das erspart Zeit und erhöht die Sicherheit, da du ein langes, kompliziertes Passwort
      wählen kannst.

    %table.table.table-responsive.oauth
      %tbody
        - User.omniauth_providers.each do |provider|
          %tr(class: provider)
            %td{width: "75px"}= image_tag "#{provider}.png", alt: provider.capitalize, class: :minithumb
            - unless current_user.send("#{User::PROVIDER[provider]}_uid").nil?
              %td{width: "50%"}= "Verknüpft mit #{content_tag(:b, current_user.send("#{User::PROVIDER[provider]}_name"))}".html_safe
              %td{align: "right"}= link_to "Verknüpfung aufheben", delete_oauth_path(User::PROVIDER[provider]), :method => :delete, class: "btn btn-danger #{provider}-unlink"
            - else
              %td{colspan: 2}= link_to "Mit #{User::PROVIDER[provider].capitalize} verknüpfen", user_omniauth_authorize_path(provider.to_sym), class: "#{provider}-link"
