#profile
  %h1 Dein Profil

  %table
    %tbody
      %tr
        %th Email
        %td= current_user.email
      %tr
        %th Name
        %td= current_user.name

      %tr
        %th Rolle
        %td= current_user.role

  = link_to "Profil ändern",    :edit_user
  = link_to "Passwort ändern",  :edit_password
