#profile
  .well
    %h2.title Dein Profil

    %table.scroll
      %tbody
        %tr
          %th.text-right E-Mail
          %td= current_user.email
        %tr
          %th.text-right Name
          %td= current_user.name
        %tr
          %th.text-right{ rowspan: 2, style: 'vertical-align: top' } Adresse
          %td= "#{current_user.street} #{current_user.houseno}"
        %tr
          %td= "#{current_user.zipcode} #{current_user.city}"
        - if current_user.phone?
          %tr
            %th.text-right Telefonnummer
            %td= current_user.phone
        - if current_user.mobile?
          %tr
            %th.text-right Handynummer
            %td= current_user.mobile

        %tr
          %th.text-right Rolle
          %td= current_user.role.capitalize

    .options
      = link_to "Profil ändern", :edit_user, class: "button"
      = link_to "Login ändern",  :edit_login, class: "button warning"

  .well
    %h2.title Alternative Loginmethoden verwalten
    %p
      Wenn dein Konto auf der Kölschbusters-Webseite mit einer der unten genannten Seiten verknüpfst, kannst du dich in
      Zukunft ohne Passwort einloggen. Das erspart Zeit und erhöht die Sicherheit, da du ein langes, kompliziertes Passwort
      wählen kannst.

    %table.oauth.row
      - User.omniauth_providers.each do |provider|
        %tr.provider
          %td.show-for-large{ width: '10%' }
            = image_tag "#{provider}.png", alt: provider.capitalize
          %td.hide-for-large{ width: '30%' }
            = image_tag "#{provider}.png", alt: provider.capitalize
          %td.show-for-large{ width: '10%' }
            %h2.title= User::PROVIDER[provider].capitalize
          - if current_user.send("#{User::PROVIDER[provider]}_uid")
            %td
              != current_user.send("#{User::PROVIDER[provider]}_name")
            %td.text-right{ width: '10%' }
              = link_to delete_oauth_path(User::PROVIDER[provider]), method: :delete, class: "#{provider}-unlink" do
                = icon 'chain-broken'
                Verknüpfung aufheben
          - else
            %td
              = link_to user_omniauth_authorize_path(provider.to_sym), class: "#{provider}-link" do
                = icon 'chain'
                Verknüpfen
