#session.login
  .well
    %h2.title Passwort ändern
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f|
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, class: "col-sm-3  control-label"
        .col-sm-9= f.password_field :password, autofocus: true, class: "form-control", placeholder: User.human_attribute_name(:password)
      .form-group
        = f.label :password_confirmation, class: "col-sm-3  control-label"
        .col-sm-9= f.password_field :password_confirmation, class: "form-control", placeholder: User.human_attribute_name(:password_confirmation)
      .form-group
        .col-sm-offset-3.col-sm-9
          = f.submit t('links.confirm'), class: "btn btn-default btn-success"
          = link_to t('links.cancel'), :new_user_session, class: "btn btn-default btn-danger"
  .well
    %h2.title Alternative Loginmöglichkeiten
    - resource_class.omniauth_providers.each do |provider|
      %span{class: provider}
        = link_to image_tag("#{provider}.png", alt: "Einloggen mit #{provider.capitalize}"), omniauth_authorize_path(resource_name, provider), class: "#{provider}-login"
    %br.clear
