#session.login
  .well
    %h2.title Passwort ändern
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f|
      = f.hidden_field :reset_password_token

      %p Bitte vergib ein neues Passwort für deinen Zugang.

      .row
        .columns= f.password_field :password, autofocus: true, placeholder: User.human_attribute_name(:password)

      .row
        .columns= f.password_field :password_confirmation, placeholder: User.human_attribute_name(:password_confirmation)

      .row
        .large-10.columns.show-for-large
          = f.submit t('links.confirm'), class: "button"
          = link_to t('links.cancel'), :new_user_session, class: "button warning"
        .small-12.columns.hide-for-large
          = f.submit t('links.confirm'), class: "button expanded"
        .small-12.columns.hide-for-large
          = link_to t('links.cancel'), :new_user_session, class: "button warning expanded"

  .well
    %h2.title Alternative Loginmöglichkeiten
    - resource_class.omniauth_providers.each do |provider|
      %span{class: provider}
        = link_to image_tag("#{provider}.png", alt: "Einloggen mit #{provider.capitalize}"), omniauth_authorize_path(resource_name, provider), class: "#{provider}-login"
    %br.clear
