#session.password
  .well
    %h2.title Passwort zur端cksetzen
    %p Wenn du dein Passwort vergessen hast, schicken wir dir gerne eine Anleitung wie du dein Passwort zur端ck setzen kannst.

    = form_for resource, as: resource_name, url: password_path(resource_name), html: {class: "form-horizontal"} do |f|
      .row
        .small-12.columns= f.email_field :email, autofocus: true, placeholder: "E-Mail Adresse"

      .row
        .large-10.columns.show-for-large
          = f.submit "Passwort zur端cksetzen", class: "button"
          = link_to t('links.cancel'), new_session_path(resource_name), class: "button warning"
        .small-12.columns.hide-for-large
          = f.submit "Passwort zur端cksetzen", class: "button expanded"
        .small-12.columns.hide-for-large
          = link_to t('links.cancel'), new_session_path(resource_name), class: "button warning expanded"
