#session.password
  .well
    %h2.title Passwort zurücksetzen
    %p Wenn du dein Passwort vergessen hast, schicken wir dir gerne eine Anleitung wie du dein Passwort zurück setzen kannst.

    = form_for resource, as: resource_name, url: password_path(resource_name), html: {class: "form-horizontal"} do |f|
      .form-group
        = f.label :email, class: "col-sm-3  control-label"
        .col-sm-9= f.email_field :email, autofocus: true, class: "form-control", placeholder: "E-Mail Adresse"
      .form-group
        .col-sm-offset-3.col-sm-9
          = f.submit "Passwort zurücksetzen", class: "btn btn-default btn-success"
          = link_to t('links.cancel'), new_session_path(resource_name), class: "btn btn-default btn-danger"
