- buttongroup = true if local_assigns[:buttongroup].nil?
.row.event
  .small-12.columns
    .well.nobottom
      .row.align-middle
        .small-12.medium-6.columns
          %h2.title= event.title

        .columns
          = event.start_date
          - if event.end_date
            &ndash;
            = event.end_date

      %hr
      .row
        .small-12.large-4.columns
          .title= Event.human_attribute_name :location
        .columns= event.location

    - if buttongroup
      .row
        .columns
          .expanded.button-group
            = link_to event, class: 'button secondary' do
              = icon :eye
              = t 'links.details'

            - if signed_in?
              - if event.participants.include? @current_user
                = link_to event_event_participation_path(event_id: event.id, participation: false), method: :put, class: 'button alert' do
                  = icon :remove
                  = t 'links.decline'
              - else
                - method = @current_user.events.include?(event) ? :put : :post
                = link_to event_event_participation_path(event_id: event.id, participation: true), method: method, class: 'button success' do
                  = icon :ok
                  = t 'links.participate'
