#event.show
  = render 'event', event: @event

- if signed_in?
  .row.well
    .small-6.columns
      %h5.title Zusagen
      - @event.participants.each do |user|
        .callout.small.success.text-center= user.name

    .small-6.columns
      %h5.title Absagen
      - @event.declinings.each do |user|
        .callout.small.alert.text-center= user.name

#comments
  %a{name: "comments"}
  - if can? :read, Comment and not @event.comments.empty?
    .well
      %h2.title= pluralize @event.comments.accessible_by(current_ability).count, "Kommentar", "Kommentare"
    - @event.comments.accessible_by(current_ability).each do |comment|
      .comment{ class: "#{"inactive" unless comment.active?} comment-#{comment.id}" }
        = render "comments/comment", comment: comment

  - if can? :create, Comment
    .well.comment-form
      %h2.title Kommentar erstellen
      = render "comments/form"
