.news.well{class: "#{"internal-news" if news.internal?}"}
  %h2.title= news.title
  - if news.internal?
    %h2.internal Interner Beitrag
  .body= news.body.html_safe
  %br.clear
  .link.pull-left= link_to t('links.back'), :news_index, class: "btn btn-danger"
  .info
    - if news.category
      .category
        Kategorie:
        = link_to news.category.title, categorized_news_path(category: news.category.to_param)
    .date
      %span.glyphicon.glyphicon-time
      - if news.published?
        = l news.published_at, format: :long
      - else
        Unveröffentlicht
    %br.clear
  %br.clear
