#about.car_history
  .well
    %h2.title Unser Karnevalswagen
    %p
      Die Entstehung unseres Karnevalswagen oder
      %b Et jitt immer jet zu dun
  .well.2013
    %h2.title Unser Wagen im Jahr 2013
    %p Im Jahr 2013 erschien unser Karnevalswagen in neuem Glanz: Ein neuer Anstrich in rot und weiß – und unser Wagen erstrahlt in den kölschen Farben.
    %p= link_to image_tag("carnival_float/2013.jpeg", title: "Unser Wagen 2013", alt: "Unser Wagen 2013", width: "25%", class: "img-rounded"), image_path("carnival_float/2013.jpeg"), class: :fancybox, rel: "carnival-float"

  .well.2012
    %h2.title Unser Wagen im Jahr 2012
    %p Im Jahr 2012 gingen wir natürlich wieder beim Wahner Zug mit – zusätzlich beteiligten wir uns zum ersten Mal auch beim Porzer Zug. Das wollen wir 2015 zu unserem zehnjährigen Jubiläum wiederholen!
    %p= link_to image_tag("carnival_float/2012.jpeg", title: "Unser Wagen 2012", alt: "Unser Wagen 2012", width: "25%", class: "img-rounded"), image_path("carnival_float/2012.jpeg"), class: :fancybox, rel: "carnival-float"

  .well.2011
    %h2.title Unser Wagen im Jahr 2011
    %p Nach kleineren Reparaturen und Ausbesserungen sah unser Wagen wieder wie neu aus. Auch in diesem Jahr liefen wir wieder beim Wahner Zug mit.
    %p
      = link_to image_tag("carnival_float/2011.jpeg", title: "Unser Wagen 2011", alt: "Unser Wagen 2011", width: "25%", class: "img-rounded"), image_path("carnival_float/2011.jpeg"), class: :fancybox, rel: "carnival-float"
      = link_to image_tag("carnival_float/2011-2.jpeg", title: "Unser Wagen 2011", alt: "Unser Wagen 2011", width: "25%", class: "img-rounded"), image_path("carnival_float/2011-2.jpeg"), class: :fancybox, rel: "carnival-float"

  .well.2010
    %h2.title Unser Wagen im Jahr 2010
    %p Regen, Schnee, Hagel? Schön ist das an Karneval zwar alles nicht, aber wir standen ab diesem Jahr im Trockenen: Unser Karnevalswagen hat ein Dach bekommen.
    %p= link_to image_tag("carnival_float/2010.jpeg", title: "Unser Wagen 2010", alt: "Unser Wagen 2010", width: "25%", class: "img-rounded"), image_path("carnival_float/2010.jpeg"), class: :fancybox, rel: "carnival-float"

  .well.2009
    %h2.title Unser Wagen im Jahr 2009
    %p Dekoration heißt das Zauberwort: In diesem Jahr verschönerten wir unseren Karnevalswagen  und ließen unsere künstlerische Ader walten.
    %p= link_to image_tag("carnival_float/2009.jpeg", title: "Unser Wagen 2009", alt: "Unser Wagen 2009", width: "25%", class: "img-rounded"), image_path("carnival_float/2009.jpeg"), class: :fancybox, rel: "carnival-float"

  .well.2008
    %h2.title Unser Wagen im Jahr 2008
    %p In den letzten Monaten steckten wir ganz viel Zeit und Mühe in den Bau unseres Wagens. In diesem Jahr gingen wir zum ersten Mal beim Wahner Zug mit unserem eigenen Wagen. Ein großer Erfolg für die Wahner Kölschbusters!
    %p= link_to image_tag("carnival_float/2008.jpeg", title: "Unser Wagen 2008", alt: "Unser Wagen 2008", width: "25%", class: "img-rounded"), image_path("carnival_float/2008.jpeg"), class: :fancybox, rel: "carnival-float"

  .well.2007
    %h2.title Unser Wagen im Jahr 2007
    %p 2007 war es dann soweit: Zum ersten Mal gingen wir beim Wahner Zug mit. Wir fuhren mit einem echten amerikanischen Schulbus, den wir uns geliehen hatten.
    %p= link_to image_tag("carnival_float/2007.jpeg", title: "Unser Wagen 2007", alt: "Unser Wagen 2007", width: "25%", class: "img-rounded"), image_path("carnival_float/2007.jpeg"), class: :fancybox, rel: "carnival-float"

    %p Im Jahr 2007 gab es noch einen weiteren Meilenstein für die Kölschbusters: Wir kauften unseren zukünftigen Karnevalswagen. Auf geht’s an die Arbeit!
    %p= link_to image_tag("carnival_float/2007-2.jpeg", title: "Unser Wagen 2007", alt: "Unser Wagen 2007", width: "25%", class: "img-rounded"), image_path("carnival_float/2007-2.jpeg"), class: :fancybox, rel: "carnival-float"

  .well.2006
    %h2.title Unser Wagen im Jahr 2006
    %p Auch 2006 versammelte sich der Verein am Wahner Zugrand. In diesem Jahr bekam der Wagen ein neues Dach, damit die Einlagerung einfacher wurde.
    %p= link_to image_tag("carnival_float/2006.jpeg", title: "Unser Wagen 2006", alt: "Unser Wagen 2006", width: "25%", class: "img-rounded"), image_path("carnival_float/2006.jpeg"), class: :fancybox, rel: "carnival-float"

  .well.2005
    %h2.title Unser Wagen im Jahr 2005
    %p= link_to image_tag("carnival_float/2005.jpeg", title: "Unser Wagen 2005", alt: "Unser Wagen 2005", width: "25%", class: "img-rounded"), image_path("carnival_float/2005.jpeg"), class: :fancybox, rel: "carnival-float"