#about.car_history
  .well
    %h2.title Unser Karnevalswagen
    %p
      Die Entstehung unseres Karnevalswagen oder
      %b Et jitt immer jet zu dun

  - @stories.each do |year, stories|
    .well{ class: year}
      %h2.title= "Session #{year}"
      - stories.each.with_index do |story, index|
        - if index % 2 == 1
          %br
        .row
          .small-12.large-4.columns
            = link_to image_tag("carnival_float/#{story['image']}", title: year, alt: year), image_path("carnival_float/#{story['image']}"), class: :fancybox, rel: "carnival-float"
          - if story.key? 'text'
            .columns.end
              %p!= story['text']
