#about.management
  .well
    %h2.title Der Vorstand
    %p
      Der Vorstand der Wahner Kölschbusters besteht aus fünf Vereinsmitgliedern.
      %br
      Sie können ihnen direkt eine E-Mail an die angegebene Adresse schicken oder
      alle per
      =link_to "Kontaktformular", :contact
      erreichen.

  .well
    %h2.title Vorsitzender:
    .row
      .small-12.large-5.columns
        = link_to image_tag("management/ml.jpg", title: "#{Rails.application.secrets.president_name}", alt: "#{Rails.application.secrets.president_name}", width: "100%"), image_path("management/ml.jpg"), class: :fancybox, rel: :management
      .small-12.large-7.columns
        .row
          .small-3.columns
            %strong Name
          .small-9.columns= Rails.application.secrets.president_name
          .small-3.columns
            %strong E-Mail
          .small-9.columns= email_antispam Rails.application.secrets.president_email
  .well
    %h2.title 1. Stellvertreter:
    .row
      .small-12.large-5.columns
        = link_to image_tag("management/tb.jpg", title: "#{Rails.application.secrets.first_representive_name}", alt: "#{Rails.application.secrets.first_representive_name}", width: "100%"), image_path("management/tb.jpg"), class: :fancybox, rel: :management
      .small-12.large-7.columns
        .row
          .small-3.columns
            %strong Name
          .small-9.columns= Rails.application.secrets.first_representive_name
          .small-3.columns
            %strong E-Mail
          .small-9.columns= email_antispam Rails.application.secrets.first_representive_email
  .well
    %h2.title 2. Stellvertreter:
    .row
      .small-12.large-5.columns
        = link_to image_tag("management/fc_short.jpg", title: "#{Rails.application.secrets.second_representive_name}", alt: "#{Rails.application.secrets.second_representive_name}", width: "100%"), image_path("management/fc.jpg"), class: :fancybox, rel: :management
      .small-12.large-7.columns
        .row
          .small-3.columns
            %strong Name
          .small-9.columns= Rails.application.secrets.second_representive_name
          .small-3.columns
            %strong E-Mail
          .small-9.columns= email_antispam Rails.application.secrets.second_representive_email
  .well
    %h2.title Schriftführerin:
    .row
      .small-12.large-5.columns
        = link_to image_tag("management/mz.jpg", title: "#{Rails.application.secrets.clerk_name}", alt: "#{Rails.application.secrets.clerk_name}", width: "100%"), image_path("management/mz.jpg"), class: :fancybox, rel: :management
      .small-12.large-7.columns
        .row
          .small-3.columns
            %strong Name
          .small-9.columns= Rails.application.secrets.clerk_name
          .small-3.columns
            %strong E-Mail
          .small-9.columns= email_antispam Rails.application.secrets.clerk_email
  .well
    %h2.title Schatzmeisterin:
    .row
      .small-12.large-5.columns
        = link_to image_tag("management/tr.jpg", title: "#{Rails.application.secrets.treasurer_name}", alt: "#{Rails.application.secrets.treasurer_name}", width: "100%"), image_path("management/tr.jpg"), class: :fancybox, rel: :management
      .small-12.large-7.columns
        .row
          .small-3.columns
            %strong Name
          .small-9.columns= Rails.application.secrets.treasurer_name
          .small-3.columns
            %strong E-Mail
          .small-9.columns= email_antispam Rails.application.secrets.treasurer_email
