%h1 Listing posts

%table
  %tr
    %th Title
    %th Slug
    %th Body
    %th Teaser
    %th Author
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.slug
      %td= post.body
      %td= post.teaser
      %td= post.author_id
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
