#gallery
  .well
    %h2.title Unsere Bildergalerien
    - unless @galleries.nil?
      - @galleries.each do |gallery|
        .gallery
          %a{href: gallery_path(gallery)}
            - if can? :read, gallery.pictures.first
              .img-container= image_tag gallery.pictures.first.picture.url(:maxithumb), class: "img-rounded"
            - else
              .img-container= image_tag gallery.public_pictures.first.picture.url(:maxithumb), class: "img-rounded"
            .name= "#{gallery.title} (#{gallery.pictures.count})"
      %br.clear
    - else
      Es gibt leider keine für dich zugängliche Gallerie.