= form_for [:admin, @user], html: { class: "form-horizontal" } do |f|
  - if @user.errors.any?
    .callout.alert.small{ 'data-abide-error' => true }
      %h4.title
        %span.is-invalid-label
          = icon 'exclamation-triangle'
        Folgende Felder müssen korrigiert werden:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li
            %small= msg

  .row
    .large-2.show-for-large.columns= f.label :email
    .columns
      = f.text_field :email, placeholder: User.human_attribute_name(:email)

  .row
    .large-2.show-for-large.columns= f.label :first_name
    .columns
      = f.text_field :first_name, placeholder: User.human_attribute_name(:first_name)

  .row
    .large-2.show-for-large.columns= f.label :last_name
    .columns
      = f.text_field :last_name, placeholder: User.human_attribute_name(:last_name)

  .row
    .large-2.show-for-large.columns= f.label :phone
    .columns
      = f.text_field :phone, placeholder: User.human_attribute_name(:phone)

  .row
    .large-2.show-for-large.columns= f.label :mobile
    .columns
      = f.text_field :mobile, placeholder: User.human_attribute_name(:mobile)

  .row
    .large-2.show-for-large.columns Adresse
    .small-3.columns
      = f.text_field :street, placeholder: User.human_attribute_name(:street)
    .columns
      = f.text_field :houseno, placeholder: User.human_attribute_name(:houseno)

  .row
    .large-2.show-for-large.columns &nbsp;
    .small-3.columns
      = f.text_field :zipcode, placeholder: User.human_attribute_name(:zipcode)
    .columns
      = f.text_field :city, placeholder: User.human_attribute_name(:city)

  .row
    .large-2.show-for-large.columns= f.label :member_active
    .large-2.columns.text-align-right
      .switch.small
        = f.check_box :member_active, class: 'switch-input'
        %label.switch-paddle{ for: :member_member_active }
    .columns
      %label{ for: :member_member_active }

  .row
    .large-2.show-for-large.columns= f.label :role
    .columns
      = f.select :role, User::ROLES.map{|r| [t(r, scope: :roles), r]}, {}

  .row
    .large-2.show-for-large &nbsp;
    .large-10.columns.show-for-large
      = f.submit t(@user.new_record? ? 'create' : 'update', scope: 'links'), class: 'button'
      = link_to t('links.cancel'), [:admin, :users], class: 'button warning'
    .small-12.columns.hide-for-large
      = f.submit t(@user.new_record? ? 'create' : 'update', scope: 'links'), class: 'button expanded'
    .small-12.columns.hide-for-large
      = link_to t('links.cancel'), [:admin, :users], class: 'button warning expanded'
