#users
  %h1 Benutzerverwaltung
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th= User.human_attribute_name(:name)
        %th= User.human_attribute_name(:email)
        %th= User.human_attribute_name(:address)
        %th= User.human_attribute_name(:phone)
        %th= User.human_attribute_name(:mobile)
        %th= User.human_attribute_name(:role)
        %th &nbsp;
    %tbody
      - @users.each do |user|
        / which class should the user row get?
        - user_row_class = ''
        - user_row_class = 'warning' if user.role? :management
        - user_row_class = 'success' if user.role? :admin
        - user_row_class = 'danger' unless user.active?
        %tr{class: user_row_class}
          %td= user.name
          %td= user.email
          %td
            - if user.address?
              %address
                = "#{user.street} #{user.houseno}"
                %br
                = "#{user.zipcode} #{user.city}"
          %td= user.phone
          %td= user.mobile
          %td= t user.role, scope: :roles
          %td.centered
            = link_to content_tag(:i, "", class: "glyphicon glyphicon-pencil"), [:edit, :admin, user], class: "btn btn-primary btn-xs", title: "#{t('links.users.edit')}"
            = link_to content_tag(:i, "", class: "glyphicon glyphicon-trash"), [:admin, user], method: :delete, confirm: t('confirms.users.delete', username: user.name), class: "btn btn-danger btn-xs", title: "#{t('links.users.delete')}"

  .labels.pull-right
    %span.label.label-info Legende
    %span.label.label-danger Inaktive User
    %span.label.label-success Administratoren
    %span.label.label-warning Management

  .btns.pull-left
    = link_to t('links.users.new'), :new_admin_user, class: "btn btn-success"