#users
  .well
    %h2.title Benutzerverwaltung

    %table
      %thead
        %tr
          %th= User.human_attribute_name(:name)
          %th= User.human_attribute_name(:email)
          %th= User.human_attribute_name(:address)
          %th= User.human_attribute_name(:phone)
          %th= User.human_attribute_name(:mobile)
          %th= User.human_attribute_name(:role)
          %th= User.human_attribute_name(:member_active)
          %th &nbsp;
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td= user.email
            %td
              - if user.address?
                .address
                  = "#{user.street} #{user.houseno}"
                  %br
                  = "#{user.zipcode} #{user.city}"
            %td= user.phone
            %td= user.mobile
            %td= t user.role, scope: :roles
            %td.text-center
              = icon user.member_active ? :check : :times
            %td.text-right
              = link_to icon(:pencil), [:edit, :admin, user], class: "button small", title: "#{t('links.users.edit')}"
              = link_to icon(:trash), [:admin, user], method: :delete, data: { confirm: t('confirmations.named.delete', name: user.name) }, class: 'button small warning', title: "#{t('links.users.delete')}"

  .row
    .large-12.columns.show-for-large
      = link_to [:new, :admin, :user], class: "button" do
        = icon :plus
        = t('links.create')
    .small-12.columns.hide-for-large
      = link_to [:new, :admin, :user], class: "button expanded" do
        = icon :plus
        = t('links.create')
