- buttongroup = true if local_assigns[:buttongroup].nil?
.row.event
  .small-12.columns
    .well.nobottom
      .row
        .small-6.columns
          %h2.title= event.title
        .small-6.columns.text-right
          .label.alert= event.start_date
          - if event.end_date
            .label.alert= event.end_date

      .row
        .small-12.columns
          #map-canvas{ style: 'min-height: 300px; max-height: 300px', data: { rel: event.event_coordinates }}
        .small-12.large-4.columns
          .title= Event.human_attribute_name :location
        .columns.text-right= event.location

      - if action_name.to_sym != :index
        .row
          .small-12.large-4.columns
            .title= Event.human_attribute_name :description
          .columns.text-right= simple_format event.description
    - if buttongroup
      .row
        .columns
          .expanded.button-group
            - if action_name.to_sym == :index
              = link_to event, class: 'button secondary' do
                = icon :eye
                = t 'links.details'
            - else
              = link_to :events, class: 'button secondary' do
                = icon 'arrow-left'
                = t('links.back')

            - if signed_in?
              - if event.participants.include? @current_user
                = link_to event_event_participation_path(event_id: event.id, participation: false), method: :put, class: 'button alert' do
                  = icon :remove
                  = t 'links.decline'
              - else
                - method = @current_user.events.include?(event) ? :put : :post
                = link_to event_event_participation_path(event_id: event.id, participation: true), method: :method, class: 'button success' do
                  = icon :ok
                  = t 'links.participate'
