- buttongroup = true if local_assigns[:buttongroup].nil?
.row.event
  .small-12.columns
    .well.nobottom
      .row.align-middle
        .small-12.medium-6.columns
          %h2.title= event.title

        .columns
          = event.start_date
          - if event.end_date
            &ndash;
            = event.end_date


      #map-canvas{ style: 'min-height: 300px; max-height: 300px', data: { rel: event.event_coordinates }}

      .row
        .shrink.columns
          .title= Event.human_attribute_name :location
        .expand.columns= event.location
      %hr
      .row
        .small-12.columns
          .title= Event.human_attribute_name :description
        .columns= simple_format event.description

    - if buttongroup
      .row
        .columns
          .expanded.button-group
            = link_to :events, class: 'button secondary' do
              = icon 'arrow-left'
              = t('links.back')

            - if signed_in?
              - if event.participants.include? @current_user
                = link_to event_event_participation_path(event_id: event.id, participation: false), method: :put, class: 'button alert' do
                  = icon :remove
                  = t 'links.decline'
              - else
                - method = @current_user.events.include?(event) ? :patch : :post
                = link_to event_event_participation_path(event_id: event.id, participation: true), method: method, class: 'button success' do
                  = icon :ok
                  = t 'links.participate'
