.navbar.navbar-inverse
  .container
    .navbar-header
      %a.btn.btn-default.navbar-toggle(data-target=".navbar-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href = "#{root_path}")
        = image_tag "logo.png"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li= link_to "Wahner KölschBusters", :root, class: :brand
        %li= link_to t('links.general.root'), :root
        %li= link_to t('links.general.pictures'), :galleries
        %li.dropdown
          = link_to "#{t('links.pages.about')} #{content_tag(:b, '', class: :caret)}".html_safe, '#', class: "dropdown-toggle", "data-toggle" => "dropdown"
          %ul.dropdown-menu
            %li= link_to t('links.pages.about'), :about
            %li= link_to t('links.pages.management'), :management
            %li= link_to t('links.pages.carnival_float'), :carnival_float
        %li= link_to t('links.pages.contact'), :new_contact

      .navbar-right
        - if user_signed_in?
          .navbar-text= "Eingeloggt als"
          %ul.nav.navbar-nav
            - if can? :manage, User or can? :manage, News or can? :manage, Gallery or can? :manaege, Category
              %li.dropdown
                = link_to "#{current_user.name} #{content_tag(:b, '', class: :caret)}".html_safe, '#', class: "dropdown-toggle", "data-toggle" => "dropdown"
                %ul.dropdown-menu
                  %li= link_to t('links.dashboard'), :admin_root
                  - if can? :manage, User
                    %li.divider &nbsp;
                    %li= link_to t('links.users.index'), :admin_users
                    %li= link_to t('links.users.new'), :new_admin_user
                  - if can? :manage, Category
                    %li.divider &nbsp;
                    %li= link_to t('links.categories.index'), :admin_categories
                    %li= link_to t('links.categories.new'), :new_admin_category
                  - if can? :manage, News
                    %li.divider &nbsp;
                    %li= link_to t('links.news.index'), :admin_news_index
                    %li= link_to t('links.news.new'), :new_admin_news
                  - if can? :manage, Comment
                    %li.divider &nbsp;
                    %li= link_to t('links.comments.index'), :admin_comments
                  - if can? :manage, Gallery
                    %li.divider &nbsp;
                    %li= link_to t('links.gallery.index'), :admin_galleries
                    %li= link_to t('links.gallery.new'), :new_admin_gallery
                  %li.divider &nbsp;
                  %li= link_to t('links.general.profile'), :user
                  %li= link_to t('links.general.logout'), :destroy_user_session, method: :delete
            - else
              %li.dropdown
                = link_to "#{current_user.name} #{content_tag(:b, '', class: :caret)}".html_safe, '#', class: "dropdown-toggle", "data-toggle" => "dropdown"
                %ul.dropdown-menu
                  %li= link_to t('links.general.profile'), :user
                  %li= link_to t('links.general.logout'), :destroy_user_session, method: :delete
        - else
          %ul.nav.navbar-nav
            %li= link_to t('links.general.login'), :new_user_session, class: "btn btn-success"
