%h2.title
  Navigation
  .logo= image_tag "logo.png"
%ul.menu.vertical
  %li= link_to t('links.root'), :root
  %li= link_to t('links.pictures'), :galleries
  %li= link_to t('links.pages.about'), :about
  %li= link_to t('links.pages.management'), :management
  %li= link_to t('links.pages.carnival_float'), :carnival_float
  %li= link_to t('links.events'), :events
  %li= link_to t('links.pages.contact'), :new_contact

- if user_signed_in?
  %h2.title Benutzer
  %ul.menu.vertical
    %li= link_to t('links.profile'), :user
    %li= link_to t('links.logout'), :destroy_user_session, method: :delete

- if can? :access, :admin
  %h2.title Administration
  %ul.menu.vertical
    %li= link_to t('links.dashboard'), :admin_root
